include includes/header.pug
div
  div(class='col-md-12 col-sm-12')
    img(src=require("http://sockjunkie.com//img/user/logo.png"))
    div()
      h3='Victoria Erickson'
      h5='UX UI Designer'
  br
  |
  h2='Portfolio'
  div(class='col-md-6 col-sm-6')
    img(src=require("http://sockjunkie.com//img/user/logo.png"))
    br
    |
    p Freelance graphic designer for a sock compnay. Photoshop and Illustrator are used to design mockups for the socks. Based on emails, I receive from my coworkers, I create the socks as requested by the customers.
    a(href='http://victoriamarieerickson.com/work/sock-junkie') Link to Work

include includes/footer.pug
